<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Home page here</title>
</head>
<body>
	<h1>This is home page</h1>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="font-weight-bold text-center">
			<h1>Smart contact Manager</h1>
			<p>Smart Collecting to your contacts in very smarter way. We
				provide very efficient and smarter way of handling contacts.</p>
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
	</section>
</body>
</html>